:root, body {
  margin: 0;
  padding: 0;
  position: fixed;
  inset: 0;
}

body, div {
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: lightblue;
  place-items: center;

  > #grid {
    width: 100vmin;
    height: 100vmin;
    position: fixed;
    outline: solid darkgrey 0.25vmin;

    > div {
      position: absolute;
      width: 10vmin;
      height: 10vmin;
      background-color: gray;
      overflow: hidden;

      &.source {
        outline: solid 1.5vmin;
        outline-offset: -2.5vmin;
      }

      &.belt {
        border: solid black;
        border-width: 0 .25vmin 0;
        background-image: repeating-linear-gradient(to bottom, #aaa, #aaa .5vmin, transparent .5vmin, transparent 2vmin);
        animation: belt infinite linear 2.5s;

        @keyframes belt {
          to {
            background-position-y: -10vmin;
          }
        }

        > .item {
          width: 5vmin;
          height: 5vmin;
          right:2.5vmin;
          border-radius: 50%;
          position: absolute;
          animation: item infinite linear 2.5s;

          @keyframes item {
            from {
              top: 7.5vmin;
            }

            to {
              top: -2.5vmin;
            }
          }
        }
      }
    }
  }
}